# Python Scope
<html>
    <img src="scope.png" alt="Python Scopes" style="width:800px;height:300px;">
 </html>

In [1]:
def get_title():
    title = 'Python'

get_title()
print(title)

NameError: name 'title' is not defined

In [2]:
def get_title_global():
    global new_title
    new_title = 'Learning Python'

get_title_global()
print(new_title)

Learning Python

In [3]:
name = 'Python'

def get_name1():
    name = 'Learning Python'
    def get_name2():
        print(name)
    get_name2()
    

get_name1()
print(name)

Learning Python
Python

In [5]:
course = 'Learning Python'
def get_course():
    course = 'Only Python'
    return course
    

def get_course_global():
    global course
    course = 'New python'
    return course
    
    

print(get_course())
print('The "course" variable value after using get_course function "{}"'.
      format(course))

print(get_course_global())
print('The "course" variable value after using get_course_global function "{}"'.
      format(course))

Only Python
The "course" variable value after using get_course function "Learning Python"
New python
The "course" variable value after using get_course_global function "New python"

# Passing Multiple Arguments

In [7]:
def mul_par(*args: list):
    for item in args:
        print(item)

In [10]:
mul_par('chetan',1,2,8.957)

chetan
1
2
8.957

In [16]:
def per_det(name='',age = 18,*address):
    print('Name:',name)
    print('Age:',age)
    print('Address:')
    for address_line in address:
        print(address_line)

In [ ]:
mul_par('Cricket','Hockey','Football','Kabbadi')

In [22]:
named_par(fname = 'Harry',lname = 'Potter',hobbies = ['Quiddict','Dark Arts'],school='Hogwarts')

fname:Harry
lname:Potter
hobbies:['Quiddict', 'Dark Arts']
school:Hogwarts

In [ ]:
mul_par.__annotations__

In [ ]:
named_par.__annotations__

# Recursive Functions

In [13]:
def factorial(n):
    print("factorial has been called with n = " + str(n))
    if n == 1:
        return 1
    else:
        res = n * factorial(n-1)
        print("intermediate result for ", n, " * factorial(" ,n-1, "): ",res)
        return res

factorial(6)

factorial has been called with n = 6
factorial has been called with n = 5
factorial has been called with n = 4
factorial has been called with n = 3
factorial has been called with n = 2
factorial has been called with n = 1
intermediate result for  2  * factorial( 1 ):  2
intermediate result for  3  * factorial( 2 ):  6
intermediate result for  4  * factorial( 3 ):  24
intermediate result for  5  * factorial( 4 ):  120
intermediate result for  6  * factorial( 5 ):  720

720

# One Line Functions

### Lambda functions

In [15]:
def sq(x):
    return x**2

sq(5)

25

In [16]:
l_sq = lambda x: x**2

In [17]:
type(l_sq)

function

In [19]:
l_sq(5)

25

In [25]:
def lsq(x):
    return lambda y : x**y

In [27]:
first = lsq(5)
second = lsq(5)
third = lsq(5)

In [28]:
first(2),second(3),third(4)

(25, 125, 625)

# Map

In [29]:
def cubes(x):
    return x**3

In [32]:
lst_num = list(range(1,6))
lst_result = []
for num in lst_num:
    lst_result.append(cubes(num))

lst_result

[1, 8, 27, 64, 125]

In [34]:
print(tuple(map(cubes,list(range(1,6)))))
print(list(map(cubes,list(range(1,6)))))

(1, 8, 27, 64, 125)
[1, 8, 27, 64, 125]

In [36]:
list(map((lambda x: x**3),list(range(1,6))))

[1, 8, 27, 64, 125]

In [39]:
tup_num = ((1,1),(2,4),(3,9))
dict(tup_num)

{1: 1, 2: 4, 3: 9}

In [44]:
set(range(1,10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
map(cube_dict,[1,2,3,4,5])

In [37]:
def cube_dict(x):
    return (x,x**3)

dict(map(cube_dict,[1,2,3,4,5]))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [38]:
def add_words(strx,stry):
    return str(strx)+' '+str(stry)

tuple(map(add_words,
          ('Harry','Ron','Hermoine'),
          ('Potter','Weasley','Grenger')))

('Harry Potter', 'Ron Weasley', 'Hermoine Grenger')

In [45]:
tuple(map(str.isnumeric,('1','2','Harry','1.23')))

(True, True, False, False)

In [47]:
import math 

tuple(map(math.gcd,(1,2,3,4),(2,3,4,6)))

(1, 1, 1, 2)

# Filter

In [49]:
def check_mod(x):
    return x%2==0

print(tuple(filter(check_mod,range(0,10))))
print(list(filter(check_mod,range(0,10))))

(0, 2, 4, 6, 8)
[0, 2, 4, 6, 8]

In [50]:
tuple(filter((lambda x: x%2==0),range(0,10)))

(0, 2, 4, 6, 8)

# Reduce

In [51]:
from functools import reduce

In [52]:
reduce((lambda x,y:x+y),('Albus','Wolfrik','Dumbledor'))

'AlbusWolfrikDumbledor'

# Comprehension

## Lists

In [53]:
lst_num = list(range(1,6))
lst_result = []
for num in lst_num:
    lst_result.append(cubes(num))

lst_result

[1, 8, 27, 64, 125]

In [57]:
lst_num = list(range(1,6))
lst_mod = [cubes(num) for num in lst_num]


print(lst_mod,lst_result,sep='\n')

[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]

In [59]:
lst_num1 = [i for i in range(1,10) if i%2 == 0]
lst_num1

[2, 4, 6, 8]

In [60]:
lst_even_sq = [i**2 for i in range(1,10) if i%2 == 0]
lst_even_sq

[4, 16, 36, 64]

In [84]:
def lst_fn(x):
    return lambda y:x**y

In [92]:
lst_lambda = [lst_fn(i) for i in range(0,10)]

In [99]:
lst_lambda[5](2)

25

<b> Use comprehension to list usernames,domains from the mails received </b>

In [ ]:
# %load ../daywise/Day_2/list_com1.py

## Dictionary

In [61]:
dict_num = {i:i**2 for i in range(1,10)}
dict_num

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [62]:
dict_sq_num = {i:i**2 for i in range(1,10) if i%2 == 0}
dict_sq_num

{2: 4, 4: 16, 6: 36, 8: 64}

## Sets

In [63]:
set_num = {i for i in range(1,10)}
set_num

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Note : Tuples dont have comprehension

In [74]:
tup_num = (i for i in range(1,10))

In [75]:
list(tup_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Generators

In [6]:
def even_nm(r):
    lst_result = []
    for i in range(r):
        if i%2 == 0:
            lst_result.append(i)
    return lst_result

In [4]:
even_nm(10)

[0, 2, 4, 6, 8]

In [8]:
def even_nm_iter(r):
    for i in range(r):
        if i%2 == 0:
            yield i

In [16]:
i_even = even_nm_iter(10)

In [28]:
next(i_even)

StopIteration:

# Comprehension

In [32]:
r=10

In [34]:
[i for i in range(r) if i%2==0]

[0, 2, 4, 6, 8]

In [38]:
{i:i**2 for i in range(r) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [40]:
(i for i in range(r) if i%2==0 )

# Sorting

In [70]:
lst_num = [1,20,3,5,6,0.5,6]
# lst_num.sort(reverse = True)
# lst_num

In [72]:
tup_num = tuple(lst_num)
tup_num

(1, 20, 3, 5, 6, 0.5, 6)

In [80]:
sorted(tup_num,reverse=True)

[20, 6, 6, 5, 3, 1, 0.5]

In [76]:
lst_num

[1, 20, 3, 5, 6, 0.5, 6]

In [82]:
dict_num = {"One":1,"Two":2,"Three":3,"Four":4}

In [92]:
sorted(dict_num.items())

[('Four', 4), ('One', 1), ('Three', 3), ('Two', 2)]

In [94]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [104]:
dict_num.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4)])

In [102]:
sorted(dict_num.items(),key=lambda x : x[1])

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4)]